python/_data/
python/_output/
python/temp_downloads/
output/jetstream_trajectories_UNALIGNED/
*.nc
*.grib
.DS_Store
**/.DS_Store
.DS_Store
**/.DS_Store
node_modules/.cache
node_modules/.vite
node_modules/.vite/deps_temp_*
.venv/
data/
temp_downloads/
tests/
climatemodels.pdf
console.log
prompts.txt
